@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>please read carefully our privacy policy.</p>
<ol>
    <li>Read & agree to our rules.</li>
    <li>Be polite.</li>
</ol>
